body {
  background-image: url("imgpant.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 50px auto; 
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); 
  border: 2px solid #333; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

h1, p, ul {
  color: #333; 
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 18px;
  margin: 10px 0;
}

.precio {
  font-weight: bold;
  color: #800000; 
}

section img {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px; 
}

h1{
    color: rgb(10, 56, 207);
}
h2{
   color: rgb(160, 5, 5);
}
ul {
  list-style-type: none; 
  padding: 0;
}
li {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 10px; 
}
.precio {
  font-weight: bold;
  color: rgb(13, 14, 13);
}
ul{
  color: rgb(6, 114, 12);
  font-weight: bold; 
}
body{
  background-color: lightgrey;
}
section{
  display: flex;
  width: 600px;
  height: 430px;
}
section img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}
section img:hover{
  width: 300px;
  opacity: 1;
  filter: contrast(150%);
}
p{
  color: rgb(255, 255, 255);
  font-size: 25px;
}
aside{
  color: rgb(255, 255, 255);
  font-weight: bold;
}


